@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Mylayout.cshtml";
}
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">Giới thiệu</h4>
        <div class="d-inline-flex">
            <p class="m-0 text-white"><a class="text-white" href="">Trang chủ</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">Giới thiệu</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- About Start -->
<div class="container py-5">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <img class="img-fluid mb-4 mb-lg-0" src="~/Content/img/about.jpg" alt="Image">
        </div>
        <div class="col-lg-6">
            <h2 class="display-4 font-weight-bold mb-4">10 năm kinh nghiệm</h2>
            <p>Giúp tôi trở thành chuyên gia trong lĩnh vực của mình.</p>
            <div class="row py-2">
                <div class="col-sm-6">
                    <i class="flaticon-barbell display-2 text-primary"></i>
                    <h4 class="font-weight-bold">Bằng chứng nhận</h4>
                    <p>Là minh chứng về năng lực và trình độ của chúng tôi trong lĩnh vực này</p>
                </div>
                <div class="col-sm-6">
                    <i class="flaticon-medal display-2 text-primary"></i>
                    <h4 class="font-weight-bold">Giải thưởng</h4>
                    <p>Nhiều giải thưởng danh giá</p>
                </div>
            </div>
            <a href="" class="btn btn-lg px-4 btn-outline-primary">Tìm hiểu thêm</a>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Features Start -->
<div class="container-fluid my-5">
    <div class="row">
        <div class="col-lg-4 p-0">
            <div class="d-flex align-items-center bg-secondary text-white px-5" style="min-height: 300px;">
                <i class="flaticon-training display-3 text-primary mr-3"></i>
                <div class="">
                    <h2 class="text-white mb-3">Tiến độ</h2>
                    <p>
                        Cần phải được theo dõi chặt chẽ để đạt được kết quả tốt nhất.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 p-0">
            <div class="d-flex align-items-center bg-primary text-white px-5" style="min-height: 300px;">
                <i class="flaticon-weightlifting display-3 text-secondary mr-3"></i>
                <div class="">
                    <h2 class="text-white mb-3">Tập luyện</h2>
                    <p>
                        Tập luyện thường xuyên và đều đặn sẽ giúp cải thiện sức khỏe và tăng cường thể lực.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 p-0">
            <div class="d-flex align-items-center bg-secondary text-white px-5" style="min-height: 300px;">
                <i class="flaticon-treadmill display-3 text-primary mr-3"></i>
                <div class="">
                    <h2 class="text-white mb-3">Dinh dưỡng</h2>
                    <p>
                        Dinh dưỡng là yếu tố cần thiết trong quá trình tập luyện để duy trì sức khỏe và đạt được hiệu quả tốt nhất.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->
<!-- Team Start -->
<div class="container pt-5 team">
    <div class="d-flex flex-column text-center mb-5">
        <h4 class="text-primary font-weight-bold">Huấn luyện viên của chúng tôi</h4>
        <h4 class="display-4 font-weight-bold">Gặp gỡ các chuyên gia đào tạo của chúng tôi</h4>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 mb-5">
            <div class="card border-0 bg-secondary text-center text-white">
                <img class="card-img-top" src="~/Content/img/team-1.jpg" alt="">
                <div class="card-social d-flex align-items-center justify-content-center">
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="card-body bg-secondary">
                    <h4 class="card-title text-primary">Minh Phương</h4>
                    <p class="card-text">Huấn luyện viên</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <div class="card border-0 bg-secondary text-center text-white">
                <img class="card-img-top" src="~/Content/img/team-2.jpg" alt="">
                <div class="card-social d-flex align-items-center justify-content-center">
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="card-body bg-secondary">
                    <h4 class="card-title text-primary">Minh Phương</h4>
                    <p class="card-text">Huấn luyện viên</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <div class="card border-0 bg-secondary text-center text-white">
                <img class="card-img-top" src="~/Content/img/team-3.jpg" alt="">
                <div class="card-social d-flex align-items-center justify-content-center">
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="card-body bg-secondary">
                    <h4 class="card-title text-primary">Minh Phương</h4>
                    <p class="card-text">Huấn luyện viên</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <div class="card border-0 bg-secondary text-center text-white">
                <img class="card-img-top" src="~/Content/img/team-4.jpg" alt="">
                <div class="card-social d-flex align-items-center justify-content-center">
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="card-body bg-secondary">
                    <h4 class="card-title text-primary">Minh Phương</h4>
                    <p class="card-text">Huấn luyện viên</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->