@{
    Layout = "~/Views/Shared/_Mylayout.cshtml";

}
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">Blog</h4>
        <div class="d-inline-flex">
            <p class="m-0 text-white"><a class="text-white" href="">Trang chủ</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">Our Blog</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Blog Start -->
<div class="container pt-5">
    <div class="d-flex flex-column text-center mb-5">
        <h4 class="text-primary font-weight-bold">Blog của chúng tôi</h4>
        <h4 class="display-4 font-weight-bold">Bài Viết Mới Nhất Từ Blog</h4>
    </div>
    <div class="row">
        <div class="col-lg-6 mb-5 blog-item">
            <img class="img-fluid mb-4" src="~/Content/img/blog-1.jpg" alt="Image">
            <div class="d-flex align-items-center mb-4">
                <div class="d-flex flex-column align-items-center justify-content-center rounded-circle bg-primary text-white" style="width: 80px; height: 80px;">
                    <small>01</small>
                    <strong class="text-uppercase m-0 text-white">Tháng 1</strong>
                    <small>2025</small>
                </div>
                <div class="pl-3">
                    <h3 class="font-weight-bold">Cách giữ dáng đẹp</h3>
                    <div class="d-flex">
                        <small class="mr-2 text-muted"><i class="fa fa-user"></i> Admin</small>
                        <small class="mr-2 text-muted"><i class="fa fa-folder"></i> Web Design</small>
                        <small class="mr-2 text-muted"><i class="fa fa-comments"></i> 15 Comments</small>
                    </div>
                </div>
            </div>
            <p>Giữ dáng đẹp là một chủ đề được quan tâm hàng đầu trong cuộc sống hiện đại. Để giữ được vóc dáng và sức khỏe tốt, việc tập luyện và dinh dưỡng là cực kỳ quan trọng. Dưới đây là một số lời khuyên về cách giữ dáng đẹp mà bạn có thể áp dụng:</p>
            <a class="btn btn-outline-primary mt-2 px-3" href="">Xem thêm <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="col-lg-6 mb-5 blog-item">
            <img class="img-fluid mb-4" src="~/Content/img/blog-2.jpg" alt="Image">
            <div class="d-flex align-items-center mb-4">
                <div class="d-flex flex-column align-items-center justify-content-center rounded-circle bg-primary text-white" style="width: 80px; height: 80px;">
                    <small>01</small>
                    <strong class="text-uppercase m-0 text-white">Tháng 2</strong>
                    <small>2045</small>
                </div>
                <div class="pl-3">
                    <h3 class="font-weight-bold">Cách để có body nhiều cơ bắp</h3>
                    <div class="d-flex">
                        <small class="mr-2 text-muted"><i class="fa fa-user"></i> Admin</small>
                        <small class="mr-2 text-muted"><i class="fa fa-folder"></i> Web Design</small>
                        <small class="mr-2 text-muted"><i class="fa fa-comments"></i> 15 Comments</small>
                    </div>
                </div>
            </div>
            <p>Có một số cách để có một cơ thể nhiều cơ bắp. Đầu tiên, bạn cần tập trung vào việc tăng cường cơ bắp thông qua tập luyện thể dục thường xuyên và hiệu quả. Bạn cần có một kế hoạch tập luyện được thiết kế để phát triển từng nhóm cơ bắp, chẳng hạn như chân, tay, vai và lưng. Ngoài ra, bạn cũng cần đảm bảo rằng mình ăn uống đầy đủ và cân bằng. Bạn cần tiêu thụ đủ lượng protein để hỗ trợ sự phát triển cơ bắp, cùng với các loại thực phẩm khác như carbohydrate và chất béo để cung cấp năng lượng cho cơ thể. Ngoài ra, bạn nên giảm thiểu sự căng thẳng và giữ cho mình nghỉ ngơi đầy đủ, vì việc thiếu ngủ và căng thẳng có thể làm giảm khả năng phục hồi của cơ bắp.</p>
            <a class="btn btn-outline-primary mt-2 px-3" href="">Xem thêm <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</div>