@{
    ViewBag.Title = "feature";
    Layout = "~/Views/Shared/_Mylayout.cshtml";
}
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">Tính năng</h4>
        <div class="d-inline-flex">
            <p class="m-0 text-white"><a class="text-white" href="">Trang chủ</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">Tính năng</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- GYM Feature Start -->
<div class="container feature pt-5">
    <div class="d-flex flex-column text-center mb-5">
        <h4 class="text-primary font-weight-bold">Tại sao bạn chọn chúng tôi?</h4>
        <h4 class="display-4 font-weight-bold">Lợi ích khi tham gia GYM của chúng tôi</h4>
    </div>
    <div class="row">
        <div class="col-md-6 mb-5">
            <div class="row align-items-center">
                <div class="col-sm-5">
                    <img class="img-fluid mb-3 mb-sm-0" src="~/Content/img/feature-1.jpg" alt="Image">
                    <i class="flaticon-barbell"></i>
                </div>
                <div class="col-sm-7">
                    <h4 class="font-weight-bold">Video hướng dẫn</h4>
                    <p>Video hướng dẫn luyện tập là công cụ hữu ích để giúp người tập có thể thực hiện đúng và hiệu quả các bài tập, đồng thời tăng động lực và nâng cao kỹ năng tập luyện.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="row align-items-center">
                <div class="col-sm-5">
                    <img class="img-fluid mb-3 mb-sm-0" src="~/Content/img/feature-2.jpg" alt="Image">
                    <i class="flaticon-training"></i>
                </div>
                <div class="col-sm-7">
                    <h4 class="font-weight-bold">Lịch tập luyện</h4>
                    <p>Video Lịch tập luyện cung cấp thông tin về thời gian, bài tập và kế hoạch luyện tập cho người tập, giúp họ tổ chức và tối ưu hóa tập luyện.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="row align-items-center">
                <div class="col-sm-5">
                    <img class="img-fluid mb-3 mb-sm-0" src="~/Content/img/feature-3.jpg" alt="Image">
                    <i class="flaticon-trends"></i>
                </div>
                <div class="col-sm-7">
                    <h4 class="font-weight-bold">Ứng dụng & WiFi miễn phí</h4>
                    <p>Ứng dụng và WiFi miễn phí cung cấp tiện ích và kết nối internet dễ dàng cho người dùng, giúp tăng cường trải nghiệm và sự tiện lợi trong lúc luyện tập</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="row align-items-center">
                <div class="col-sm-5">
                    <img class="img-fluid mb-3 mb-sm-0" src="~/Content/img/feature-4.jpg" alt="Image">
                    <i class="flaticon-support"></i>
                </div>
                <div class="col-sm-7">
                    <h4 class="font-weight-bold">Cộng đồng hỗ trợ</h4>
                    <p>Cộng đồng hỗ trợ cung cấp sự giúp đỡ, chia sẻ và động viên cho những người cần, giúp tạo nên một môi trường đầy nghĩa cử và đoàn kết.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- GYM Feature End -->
<!-- Testimonial Start -->
<div class="container-fluid position-relative testimonial my-5">
    <div class="container">
        <div class="row px-3 align-items-center">
            <div class="col-md-6 bg-secondary">
                <div class="d-flex align-items-center px-3" style="min-height: 450px;">
                    <div id="carouselId" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselId" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselId" data-slide-to="1"></li>
                            <li data-target="#carouselId" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="d-flex align-items-center mb-4 text-white">
                                    <img width="80" height="80" class="rounded-circle bg-dark p-2" src="~/Content/img/testimonial-1.jpg" alt="Image">
                                    <div class="pl-4">
                                        <h4 class="text-primary">Minh Vu</h4>
                                        <p class="m-0">Sinh viên</p>
                                    </div>
                                </div>
                                <div class="testimonial-text position-relative border bg-dark text-white mb-5 p-4">
                                    Phòng tập có trang thiết bị tốt và nhân viên thân thiện, tôi thích tập ở đây.
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-flex align-items-center mb-4 text-white">
                                    <img width="80" height="80" class="rounded-circle bg-dark p-2" src="~/Content/img/testimonial-2.jpg" alt="Image">
                                    <div class="pl-4">
                                        <h4 class="text-primary">Minh Tủn</h4>
                                        <p class="m-0">Công nhân</p>
                                    </div>
                                </div>
                                <div class="testimonial-text position-relative border bg-dark text-white mb-5 p-4">
                                    Không gian phòng tập rộng rãi, sạch sẽ và thoáng mát, tôi cảm thấy thoải mái khi tập.
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-flex align-items-center mb-4 text-white">
                                    <img width="80" height="80" class="rounded-circle bg-dark p-2" src="~/Content/img/testimonial-3.jpg" alt="Image">
                                    <div class="pl-4">
                                        <h4 class="text-primary">Minh Su</h4>
                                        <p class="m-0">Bác sĩ</p>
                                    </div>
                                </div>
                                <div class="testimonial-text position-relative border bg-dark text-white mb-5 p-4">
                                    Trang thiết bị mới, hiện đại và đa dạng, giúp tôi đạt được mục tiêu tập luyện.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pl-md-3 d-none d-md-block">
                    <h4 class="text-primary">Chứng thực</h4>
                    <h4 class="display-4 mb-4 text-white font-weight-bold">Khách hàng nói gì?</h4>
                    <p class="m-0 text-white">Tôi đến phòng tập vì không gian vui tươi và các buổi tập nhóm thú vị, rất đáng để tham gia.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
