@{
    ViewBag.Title = "Single";
    Layout = "~/Views/Shared/_Mylayout.cshtml";
}

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">Blog chi tiết</h4>
        <div class="d-inline-flex">
            <p class="m-0 text-white"><a class="text-white" href="">Home</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">Chi tiết</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Blog Detail Start -->
<div class="container py-5">
    <div class="row">
        <div class="col-12">
            <img class="img-fluid mb-4" src="~/Content/img/carousel-1.jpg" alt="Image">
            <div class="d-flex align-items-center mb-4">
                <div class="d-flex flex-column align-items-center justify-content-center rounded-circle bg-primary text-white" style="width: 100px; height: 100px;">
                    <span>01</span>
                    <strong class="text-uppercase m-0 text-white">Tháng 1</strong>
                    <span>2045</span>
                </div>
                <div class="pl-3">
                    <h1 class="font-weight-bold mb-3">
                        Cách để có body nhiều cơ bắp
                    </h1>
                    <div class="d-flex">
                        <span class="mr-2 text-muted"><i class="fa fa-user"></i> Admin</span>
                        <span class="mr-2 text-muted"><i class="fa fa-folder"></i> Web Design</span>
                        <span class="mr-2 text-muted"><i class="fa fa-comments"></i> 15 Comments</span>
                    </div>
                </div>
            </div>
            <p>Có một số cách để có một cơ thể nhiều cơ bắp. Đầu tiên, bạn cần tập trung vào việc tăng cường cơ bắp thông qua tập luyện thể dục thường xuyên và hiệu quả. Bạn cần có một kế hoạch tập luyện được thiết kế để phát triển từng nhóm cơ bắp, chẳng hạn như chân, tay, vai và lưng. Ngoài ra, bạn cũng cần đảm bảo rằng mình ăn uống đầy đủ và cân bằng. Bạn cần tiêu thụ đủ lượng protein để hỗ trợ sự phát triển cơ bắp, cùng với các loại thực phẩm khác như carbohydrate và chất béo để cung cấp năng lượng cho cơ thể. Ngoài ra, bạn nên giảm thiểu sự căng thẳng và giữ cho mình nghỉ ngơi đầy đủ, vì việc thiếu ngủ và căng thẳng có thể làm giảm khả năng phục hồi của cơ bắp. Cuối cùng, cần kiên trì và kiên định với kế hoạch tập luyện và chế độ ăn uống để có được cơ thể nhiều cơ bắp mà bạn muốn.</p>
            <h2 class="mb-4 font-weight-bold">Cách để có giữ dáng đẹp</h2>
            <img class="w-50 float-left mr-4 mb-3" src="~/Content/img/blog-1.jpg" alt="Image">
            <p>
                Để có một dáng vóc đẹp, bạn cần tập trung vào việc duy trì một chế độ ăn uống và lối sống lành mạnh. Đầu tiên, bạn cần ăn uống đầy đủ các loại thực phẩm dinh dưỡng như rau xanh, hoa quả, thịt và các loại hạt để cung cấp đầy đủ các dưỡng chất cho cơ thể. Ngoài ra, bạn cũng cần giảm thiểu lượng đường và chất béo không tốt trong chế độ ăn uống, và đảm bảo uống đủ nước hàng ngày.

                Tiếp theo, bạn cần thực hiện các bài tập thể dục thường xuyên để giảm cân và tăng cường sức khỏe. Bạn có thể tham gia các lớp tập thể dục, đi bộ, chạy bộ, bơi lội, hoặc các hoạt động ngoài trời để giúp tăng cường sức khỏe và đốt cháy năng lượng dư thừa trong cơ thể. Đồng thời, bạn cũng có thể tập thể dục tại nhà bằng các bài tập tạ, yoga hoặc thể dục nhịp điệu.

                Ngoài ra, bạn nên giảm thiểu stress và giữ cho mình nghỉ ngơi đầy đủ, vì stress có thể ảnh hưởng xấu đến cơ thể và làm giảm sự tự tin của bạn. Bạn cũng cần giữ cho mình luôn tự tin và có tinh thần lạc quan, đồng thời đặt mục tiêu rõ ràng để đạt được dáng vóc đẹp.
            </p>
            </div>
        <div class="col-12 pt-4">
            <div class="media bg-secondary text-white mb-4 p-5">
                <img src="~/Content/img/minhtun.jpg" alt="Image" class="mr-3 mt-1 rounded-circle p-3 bg-dark" style="width:150px;">
                <div class="media-body">
                    <h4 class="text-primary mb-3">Minh Tủn</h4>
                    <p class="m-0">Nếu bạn muốn bắt đầu tập gym, lời khuyên của chuyên gia là hãy bắt đầu từ từ và dần dần. Đừng cố gắng vượt qua giới hạn của mình quá nhanh, bởi vì điều đó có thể dẫn đến chấn thương và gây tổn thương đến cơ thể. Hãy bắt đầu với một kế hoạch tập luyện nhẹ nhàng và tập trung vào hình thức và kỹ thuật đúng để tránh chấn thương và đạt được kết quả tốt nhất. Ngoài ra, hãy đảm bảo uống đủ nước và ăn đầy đủ các loại thực phẩm dinh dưỡng để cung cấp đủ năng lượng cho cơ thể. Hãy kiên trì và kiên định với kế hoạch tập luyện của mình và đừng quên nghỉ ngơi đầy đủ để cho cơ thể của bạn phục hồi và phát triển tốt hơn.</p>
                </div>
            </div>
        </div>
        <div class="col-12 py-4">
            <h3 class="mb-4 font-weight-bold">3 Bình luận</h3>
            <div class="media mb-4">
                <img src="~/Content/img/user.jpg" alt="Image" class="mr-3 mt-1 rounded-circle" style="width:60px;">
                <div class="media-body">
                    <h4>John Doe <small><i>01 tháng 1 2022 </i></small></h4>
                    <p>
                        Rất hữu ích và dễ hiểu.
                    </p>
                    <button class="btn btn-sm btn-dark">Phản hồi</button>
                </div>
            </div>
            <div class="media mb-4">
                <img src="~/Content/img/user.jpg" alt="Image" class="mr-3 mt-1 rounded-circle"
                     style="width:60px;">
                <div class="media-body">
                    <h4>John Doe <small><i>01 tháng 1 2021 at 12:00pm</i></small></h4>
                    <p>Tôi sẽ áp dụng những lời khuyên này cho kế hoạch tập luyện của mình.</p>
                    <button class="btn btn-sm btn-dark">Phản hồi</button>
                    <div class="media mt-4">
                        <img src="~/Content/img/user.jpg" alt="Image" class="mr-3 mt-1 rounded-circle"
                             style="width:60px;">
                        <div class="media-body">
                            <h4>John Doe <small><i>01 tháng 1 2022 at 12:00pm</i></small></h4>
                            <p>Chắc chắn sẽ quay lại đọc thêm các bài viết tương tự.</p>
                            <button class="btn btn-sm btn-dark">Phản hồi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <h3 class="mb-4 font-weight-bold">Để lại bình luận</h3>
            <form>
                <div class="form-group">
                    <label for="name">Tên *</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="website">Website</label>
                    <input type="url" class="form-control" id="website">
                </div>

                <div class="form-group">
                    <label for="message">Tin nhắn *</label>
                    <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Để lại bình luận" class="btn btn-outline-primary px-3">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Blog Detail End -->
